img{
    width: 200px;
    height: 200px; 
    float: left; 
    margin-left: 40px;   
}

h2{
    text-align:center;
}

p{
    
    padding: 30pt; 
    margin: 40pt;
    border: 1px solid gold;
    margin: 0px 0px 0px 300px;
}

.divi2{
    background-color: antiquewhite;
    
}

.divi1{
    background-color: crimson;
}

.divi3{
    background-color: aliceblue;
}
html{
    background-color: antiquewhite;
}